.content {
	max-width: 800px;
	margin: auto;
}

body {
	color: #2A2E34;
	padding: 1%;
	padding-top: 0px;
	font-size: 16px;
	line-height: 1.8;
	font-family: sans-serif;
	background-color: #ECEFE3;
}

a:link {
	color: #838676;
}

a:visited {
	color: #686363;
}
iframe {
	width: 100%;
}
img {
	width: 100%;
	height: auto;
}
.small_w {
	margin: auto;
	width: 70%;
}
.small {
	margin: auto;
	width: 40%;
	height: 30%;
}
.small_h {
	margin: auto;
	height: 20%;
}

h1, h2 {
	line-height: 1.2;
}
.flex-container {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}
.flex-container > img {
	width: 15em;
	flex-shrink: 1;
	flex-grow: 1;
	margin: 0%;
}
